body{
  background-image: url(../image/fond.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family:cursive;
}

@font-face {
  font-family: police;
  src: url(../font/LeyFont.ttf);
}

h1{
  font-weight: normal;
  font-size: 60px;
  font-family: police;
  text-align: center;
}

table{
  text-align: center;
  border-collapse: collapse;
  margin: auto;
  float: left;
  margin-left: 30%;
}

td{
  height: 50px;
  border: 1px solid white;
}

.col1{
  width: 200px;
  background-color: rgba(200,200,200,0.5);
}

.col2{
  width: 300px;
  background-color: rgba(250,250,250,0.5);
}

.saisie{
  text-align: center;
  margin: auto;
}

#reponse{
    margin-top: 15px;
}

#bouton{
  margin-top: 30px;
}

#global{
  width: 100%;
  height: 350px;
  margin-top: 40px;
}

input{
  text-align: center;
}

#historique{
  font-style: italic;
  color: rgba(60,60,60,0.5);
  height: 322px;
  padding-left: 20px;
  overflow: hidden;
}

#historique:first-child{
  color: purple;
}
